@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap");

* {
  font-family: "Roboto Slab";
}

.about-section {
  background: linear-gradient(337.59deg, #ffffff 16.89%, #d7eccb 160.63%);
}

/* --------------- nabar ---------------  */

.nav-font {
  color: #515151;
}

/* --------------- nabar ---------------  */

/* --------------- section -2 : left side --------------- */

.buy-insurance {
  font-size: 35px;
}

/* --------------- section -2 : left side --------------- */

.contact-text {
  margin-left: 10px;
}

.contact-with-us-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
  font-size: 14px;
}

/* -------------------------------------- Services Section --------------------------------------  */

.services-padding {
  padding: 60px 70px;
}

.grid-services-style {
  padding: 35px 30px;
}

.grid-services-style:hover {
  background: #ddedc7;
  transition: 0.5s ease-in-out;
}

.individual_service_title {
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
}

.individual_service_p {
  margin-top: 14px;
  color: #666666;
  font-size: 14px;
}

/* -------------------------------------- Services Section --------------------------------------  */

/* -------------------------------------- About Section --------------------------------------  */

.about-section-wrapper {
  padding: 60px;
}

.about_img_div {
  display: flex;
  justify-content: center;
}

.about_image_title {
  text-align: center;

  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  padding-top: 10px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;

  color: #226034;
}

.about_image_title_h1 {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 32px;
  /* identical to box height, or 133% */
  padding-top: 10px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;

  color: #226034;
}

.about_image_title_p {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 24px */

  text-align: justify;

  /* Text/Body Text */

  color: #666666;
  padding-top: 15px;
}

/* -------------------------------------- About Section --------------------------------------  */

/* --------------------------------------------- media screen for tab ( portrait ) ------------------------------------------- */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
}

/* ------------------------------------------------------------------------------------ end - media screen for tab ( portrait )  */

/* ------------------------------------------ media screen for tab (landscape) ------------------------------------------------- */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
}

/* -------------------------------------------------------------------------------------- end - media screen for tab (landscape) */

/* --------------------------------------------- media screen for tab (pro) portrait ------------------------------------------- */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* ---------------------------------------------------------------------------------- end - media screen for tab (pro) portrait */

/* ---------------------------------------------- media screen for tab ( pro ) landscape --------------------------------------- */

@media only screen and (min-device-width: 1366px) and (min-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ------------------------------------------------------------------------------- end - media screen for tab ( pro ) landscape  */

/* ------------------------------------------------------- media screen for mobile devices ------------------------------------- */
@media only screen and (max-width: 600px) {
  .footer-img-mobile-state {
    display: block;
    margin: auto;
  }

  .about-second-section-mobile-spacing {
    margin-top: 20px;
  }
}

/* --------------------------------------------------------------------------------------  end - media screen for mobile devices */

/* ---------------------------------------- media screen for 1366 x 768 desktop screens ---------------------------------------- */

@media only screen and (device-width: 1366px) and (device-height: 768px) {
}

/* --------------------------------------------------------------------------- end - media screen for 1366 x 768 desktop screens */

.contact {
  width: 531px;
  height: 120px;
  left: 318px;
  top: 6423px;

  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  /* or 115% */

  color: #0d1c11;
}
.phone {
  width: 198px;
  height: 59px;
  left: 391.96px;
  top: 6603px;

  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  /* or 162% */

  color: #0d1c11;

  opacity: 0.8;
}
.img {
  background-image: url("images/shape.png");
}
