@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap");

* {
  font-family: "Roboto Slab";
}

/* --------------- nabar ---------------  */

.nav-font {
  color: #515151;
}

/* --------------- nabar ---------------  */

/* --------------- section -2 : left side --------------- */

.left-side {
  padding: 60px;
}

.or-span {
  margin: 0 10px;
  color: #7b7b7b;
}

.buy-insurance {
  font-size: 35px;
}

/* --------------- section -2 : left side --------------- */

/* --------------- section -2 : right side --------------- */

/* --------------- section -2 : right side --------------- */

/* --------------- section -2 : services --------------- */

.services {
  padding: 60px;
}

.services-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-box-style {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 12px 40px;
}

.services-img {
  display: flex;
  justify-content: center;
}

.services-p {
  margin-top: 10px;
  text-align: center;
}

/* --------------- section -2 : services --------------- */

/* --------------- section -3 : why choose our service --------------- */

.third-section {
  padding-top: 6%;
}

.third-section_title {
  text-align: center;
  font-weight: bold;
}

.third-section_p {
  text-align: center;
}

.third-section_item_title {
  margin-top: 10px;
  text-align: center;
  color: #0d1c11;
  font-size: 20px;
  font-weight: bold;
}

.third-section_item_p {
  text-align: center;
}

/* --------------- section -3 : why choose our service --------------- */

/* --------------- section -4 : Team members --------------- */

.team-members-box-padding {
  background: linear-gradient(140.42deg, #c5ead5 21.42%, #ddedc7 96.29%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 15px 15px 30px 15px;
}

/* --------------- section -4 : Team members --------------- */
.contact{
  width: 531px;
height: 120px;
left: 318px;
top: 6423px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 600;
font-size: 40px;;
line-height: 60px;
/* or 115% */


color: #0D1C11;

}
.phone{
  width: 198px;
height: 59px;
left: 391.96px;
top: 6603px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;
/* or 162% */


color: #0D1C11;

opacity: 0.8;
}
.img{
  background-image: url("images/shape.png");
 
}